<!DOCTYPE html>
<html lang="en" ng-app="confusionApp">

<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Ristorante Con Fusion: Menu</title>
           <!-- Bootstrap -->
	<!-- build:css styles/main.css -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">
	<!-- endbuild -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12">
                <div class="media">
					<div class="media-left media-middle">
						<a href="#">
							<img ng-src={{dish.image}} class="media-object img-thumbnail" alt="menu">
						</a>
					</div>
					<div class="media-body">
						<h2 class="media-heading">{{dish.name}}
						<span class="label label-danger">{{dish.label}}</span>
						<span class="badge">{{dish.price}}</span>
						</h2>
						<p>{{dish.description}}	</P>
					</div>
				</div>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                <span class="h4">Comments</span>
				<label for="sort">
				Sortby<input type="text" ng-model="sortby">
				</label>
				<blockquote ng-repeat="d in dish.comments | orderBy:sortby">
					<p>Star {{d.rating}}<br>
					{{d.comment}}</p>
					<footer>
					{{d.author}} {{d.date | date :format: timezone}} </footer>
				</blockquote>
            </div>
			<div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
				<form class="form-horizontal" name="dishdetail" role="form" ng-submit="submitComments()" novalidate>
					<div class="form-group" ng-class="{'has-error':dishdetail.yourname.$error.required && !dishdetail.yourname.$pristine}">
						<label for="yourname" class="col-xs-2">Your Name</label>
						<div class="col-xs-10">
						<input type="text" class="form-control" id="yourname" name="yourname" placeholder="Enter your name" 
						ng-model="comments.author" required>
						<span ng-show="dishdetail.yourname.$error.required && !dishdetail.yourname.$pristine" class="help-block">Your name is required.</span>
                        </div>
					</div>
					<div class="form-group">
						<label for="stars" class="col-xs-2">No of Stars</label>
						<div class="col-xs-10">
						<label class="radio-inline"><input type="radio"  name="stars" value="1" ng-model="comments.rating">1</label>
						<label class="radio-inline"><input type="radio"  name="stars" value="2" ng-model="comments.rating">2</label>
						<label class="radio-inline"><input type="radio" name="stars" value="3" ng-model="comments.rating">3</label>
						<label class="radio-inline"><input type="radio"  name="stars" value="4" ng-model="comments.rating">4</label>
						<label class="radio-inline"><input type="radio"  name="stars" value="5" ng-model="comments.rating">5</label>
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error':dishdetail.comments.$error.required && !dishdetail.comments.$pristine}">
						<label for="comments" class="col-xs-2">Your Comments</label>
						<div class="col-xs-10">
							<textarea class="form-control" id="comments" name="comments" rows="12" ng-model="comments.comment" required>
							</textarea>
						<span ng-show="dishdetail.comments.$error.required && !dishdetail.comments.$pristine" class="help-block">Comment is required</span>
						</div>
					</div>
					 <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="dishdetail.$invalid">Submit Comment</button>
                        </div>
                    </div>
				</div>
			</div>
        </div>

    </div>

    <!-- build:js scripts/main.js -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="scripts/app.js"></script>
	<script src="scripts/controllers.js"></script>
    <script src="scripts/services.js"></script>
<!-- endbuild -->

</body>

</html>
